{% extends "admin/change_list.html" %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<script src="{% static 'js/analysis/report.js' %}"></script>
<script>
        document.addEventListener("DOMContentLoaded", function () {
            // PDF auto-open
            fetch("{% url 'analysis:open-pdf-after-action' %}")
                .then(response => response.json())
                .then(data => {
                    if (data.pdf_url) {
                        window.open(data.pdf_url, "_blank");
                    }
                })
                .catch(err => {
                    console.error("Error checking for PDF:", err);
                });
        });

</script>
{% endblock %}

{% block content %}
{{ block.super }}

{# Modal for amendment action #}
<div id="amendmentModal"
     style="display: none; background: #fff; border: 1px solid #ccc; padding: 20px; position: fixed; top: 30%; left: 40%; z-index: 1000;width: 30vw;height: 30vh">
    <h3>Select Amendment Type</h3>
    <select id="amendmentTypeSelect" style="width: 100%; padding: 5px; margin-bottom: 10px;"></select>
    <button id="confirmAmendment" class="button btn-primary">Confirm</button>
    <button id="cancelAmendment" class="button btn-primary">Cancel</button>
</div>
<div id="modalOverlay" style="
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
    "></div>
{% endblock %}
