{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify jazzmin %}
{% get_jazzmin_settings request as jazzmin_settings %}

{% block title %}Report Sign Out{% endblock %}

{% block content %}
<div class="pdf-preview-container">
    {% if pdf_url %}
    <object
            data="{{ pdf_url }}#zoom=125"
            type="application/pdf"
            class="pdf-object">
    </object>
    {% else %}
    <p>No PDF available.</p>
    {% endif %}
</div>

<br/>

<div class="object-tools">
    {% if report_option_pk %}
    <button type="button" class="btn btn-block btn-secondary btn-sm back-report-btn"
            onclick="backToReportEditFromSignout()">
        ← Back to Reporting Screen
    </button>
    {% endif %}
</div>


<style>
        .pdf-preview-container {
            width: 80%;
            height: calc(100vh - 250px);
            margin: 20px auto;
        }

        .pdf-object {
            width: 100%;
            height: 100%;
            border: none;
        }

        .report-signout-wrapper {
            margin-top: 40px;
            text-align: center;
        }

        #next-sample-btn {
            padding: 10px 20px;
            font-size: 16px;
        }
        .back-report-btn {
        background-color: #28a745 !important; /* Bootstrap green */
        color: white !important;
        font-size: 16px;
        padding: 10px 24px;
        width: 280px;
        max-width: 100%;
        margin: 0 auto;
        display: block;



</style>
{% endblock %}
{% block extrahead %}
{{ block.super }}
<script src="{% static 'js/analysis/report_preview.js' %}"></script>
<script>
    window.addEventListener('DOMContentLoaded', function () {
        const url = new URL(window.location.href);
        const params = url.searchParams;
        params.set('is_signout_complete', 'Y');
        url.search = params.toString();
        window.history.replaceState({}, '', url);

    });

</script>
{% endblock %}
