{% extends "admin/change_form.html" %}
{% load static %}
{% load i18n %}
{% load admin_urls %}

{% block extrahead %}
{{ block.super }}
<script src="{% static 'js/analysis/report_preview.js' %}"></script>
<script>
    window.addEventListener("load", function () {
        var assign_pathologist = document.getElementById("id_assign_pathologist").value;
        var current_user = document.getElementById("id_current_user").value;

        if(assign_pathologist==null || assign_pathologist=='' || assign_pathologist != current_user ){
            document.getElementById('next-sample-btn').style.display="none";
        }else{
            document.getElementById('next-sample-btn').style.display="block";
        }
    });
</script>
{% endblock %}

{% block content_title %}
{{ block.super }}
<br/><br/>
{% endblock %}


{% block submit_buttons_bottom %}
<div style="margin-top: 20px;">  {# Adjust the value as needed #}

  <div class="object-tools">
      <a id="next-sample-btn"
         class="btn btn-block btn-primary btn-sm"
         href="#"
         data-report-id="RO-{{ original.id|stringformat:'08d' }}"
         onclick="previewreport()">
          Preview Report
      </a>
  </div>

  <div class="object-tools" style="margin-top: 10px;">
      {% url opts|admin_urlname:'changelist' as changelist_url %}
      <a href="{% add_preserved_filters changelist_url %}" class="btn btn-danger form-control">
          {% translate 'Return' %}
      </a>
  </div>

</div>
{% endblock %}



